<header>
    <img src="/assets/img/burger.png" alt="cheeseburger in an eye">
    <h1>Eat-Da-Burger</h1>
</header>

<div class="textbox">
    <textarea rows="10" cols="50"></textarea>
    <br>
    <button>Submit</button>
    <p>Enter a burger you want to eat then click SUBMIT</p>
</div>